build
profiles
backend/cmd/cmd
.ropeproject

# MacOS Files
.DS_Store

# Code Editor
.idea/
.vscode/
!.vscode/settings.json

# Claude
CLAUDE*
.claude

*.exe

# Rust build artifacts
packet-sender/target/

# VS Code Workspace
*.code-workspace
